<launch>
    <node pkg="gmapping_mg" type="slam_gmapping" name="slam_gmapping_mg" output="screen">
		<param name="base_frame" value="base_footprint"/>
		<param name="odom_frame" value="odom"/>
		<param name="xmin" value="-5.0"/>
		<param name="ymin" value="-5.0"/>
		<param name="xmax" value="5.0"/>
		<param name="ymax" value="5.0"/>
		<param name="lstep" value="0.05"/>
		<param name="astep" value="0.05"/>

		<param name="linearUpdate" value="0.2"/>
		<param name="angularUpdate" value="0.2"/>
		<param name="temporalUpdate" value="2.0"/>
		<param name="resampleThreshold" value="0.5"/>

		<param name="particles" type="int" value="50"/>
		<param name="delta" value="0.05"/>
		<param name="tf_delay" type="double" value="0.1"/>
		<param name="map_update_interval" value="5.0"/>

    </node>
</launch>
